*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    min-height:100vh;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color:hsl(225, 100%, 94%);
}
span{
    display: inline-block;
}
.picture{
    position:fixed;
    top:0;
    bottom:30px;
    left:0;
    height:70vh;
    width:100%;
    z-index:-80;
}
.text{
    margin:auto;
    width:55%;
    background:#fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius:10px;
    border-bottom-left-radius: 10px;
}
.hero{
    width:100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.word{
    text-align:center;
}
.word h2{
    margin-top:20px;
    text-transform: capitalize;
    color:hsl(223, 47%, 23%);
    font-weight:bolder;
}
.word p{
    width:80%;
    margin:10px auto;
    color:hsl(224, 23%, 55%);
    line-height:1.3em;
}
.view{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin:auto;
    background:hsl(225, 100%, 98%);
    width:85%;
    justify-content: space-between;
    padding:10px 30px;
    border-radius:10px;
}

.box{
    display:block;
    background-color: hsl(245, 75%, 52%);
    text-decoration:none;
    padding:10px 20px;
    margin:20px auto;
    width:85%;
    text-transform:capitalize;
    color:#fff;
    border-radius: 10px;
    text-align:center
}
.box:hover{
    background-color:#766cf1;
    cursor:pointer;
    color:#fff;
}
.box-text{
    display:inline-block;
    text-transform: capitalize;
    margin:15px 0;
    font-size:15px;
    color:hsl(224, 23%, 55%);
}  
.box-text:hover{
    font-weight:900;
    cursor: pointer;
}
.div {
    flex-grow: 2;
    text-align: left;
    margin-left:10px;
}
div a:hover{
    color:hsl(245, 75%, 52%);
    text-decoration: none;
}
@media screen and (max-width:500px){
    body{
        width:100%;
        min-height:100vh;
    }
    .picture{
        display:none;
    }
    .text{
        width:70%;
        margin:auto;
    }
}